@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
	background-color: Rgba(43, 43, 43);
}

#root {
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; */
}

#loginpage--container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	padding: 0rem 4rem;
}

#LoginHeader {
	font-family: 'VT323', monospace;
	color: white;
	font-size: 8rem;
	text-align: center;
	padding: 0rem 4rem;
}


@media only screen and (max-width: 940px) {
	#LoginHeader {
    font-size: 4rem;
	}
}


#LoginPageDiv {
	width: 100%;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(217, 217, 217);
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
	position: relative;
}

#LoginButton {
	/* font set */
	font-family: 'VT323', monospace;
	font-size: 64px;
	text-shadow: 4px 4px 0px rgba(255, 76, 76);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	width: 200px;
	height: 100px;
	border-radius: 0px;
	box-shadow: 5px 5px 0px white;
	/* btn custom */
	--bs-btn-bg: rgba(40, 40, 40);
	--bs-btn-border-color: rgba(40, 40, 40);
}

#LoginFooter {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: left;
	margin-left: 5%;
	font-size: 20px;
	color: white;
}
